.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;

  .main-menu {
    list-style: none;
    display: flex;
    padding: 0;
    li {
      padding: 0 10px;
      border-bottom: 2px solid transparent;
      transition: border .25s;
      &:hover {
        border-bottom: 2px solid rgba(255, 0, 0, .25);
      }
      &:first-child {
        border-bottom: 2px solid red;
      }
      a {
        text-decoration: none;
        color: #55f;
        transition: color .25s;
        &:hover {
          color: #00f;
        }
      }
    }
  }

  .content {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 8px #ccc;
    border-radius: 5px;
  }
}
